.container {
  max-width: 100%;
  max-height: 100%;
  padding-left: 1%;
  padding-top: 1%;
  overflow-x: auto;
}



.barra-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table{
  width: 100%;
  border-bottom: rgb(97, 95, 95) solid 1px;
  
}

mat-form-field {
  width: 300px;
}

.botao-excluir:hover {
  color: #ff1744;   
}
.botao-editar:hover {
  color: #1565c0;  
}
.selecionada {
  background-color: #e3f2fd !important;
  cursor: pointer;
}
.acoes-linha {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
.mat-column-descricao {
  white-space: normal;
  word-wrap: break-word;
  max-width: 10%;
}
.mat-header-cell {
    text-align: center;
}
.mat-column-quantidade {
    text-align: center;
}

.mat-column-preco {
  text-align: left;
}
.mat-column-descricao {
  text-align: left;
  text-justify: auto;
  
}

.mat-column-categoria {
  text-align: left;
}
.mat-column-imagem {
  text-align: center;
  width: 12%;
}
.mat-column-nome {
  text-align: center;
}
.mat-column-acoes {
  text-align: center;
}

.barra-topo2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;;
  border-bottom: rgb(0, 0, 0) solid 2px;
}
h1{
    margin-left: 15px;
}
.Lista-Frutinhas{
    border-radius: 5px;
    border-color: purple    ;
    border-style: solid;
    width: 70%;
    max-width: 100%;;
}
table{
    table-layout: fixed;
    width: 100%;
}


@media (max-width: 740px) {
  .mat-column-imagem,
  .mat-column-categoria {
    display: none;
  }
  .barra-topo {
    padding-top: 5%;
  }
  .Lista-Frutinhas {
    width: 100%;
    border: none;
  }

  table {
    table-layout: auto;
    font-size: 12px;
  }

  
  mat-form-field {
    width: 100%;
  }

  button {
    width: 80%;
  }

}

